

.login-form{
    -fx-background-color:linear-gradient(to bottom right, #252d50, #324f6b);
}

.login-card-form{
    -fx-background-color:#2a5172;
}

.card-form{
    -fx-background-color:#2a5172;
    -fx-background-radius:15px;
}

.login-btn{
    -fx-background-color:#468ec2;
    -fx-background-radius:15px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:15px;
}

.login-btn:hover{
    -fx-background-color:#559bc9;
}

.cancel-btn{
    -fx-background-color:#468ec2;
    -fx-background-radius:15px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:12px;
}

.cancel-btn:hover{
    -fx-background-color:#559bc9;
}

.textfield{
    -fx-background-color:transparent;
    -fx-text-inner-color:#fff;
    -fx-border-color:#fff;
    -fx-border-width:0px 0px .4px 0px;
    -fx-font-size:13px;
}

.textfield:focused{
    -fx-border-width:0px 0px 1px 0px;
}

.adm-agent-button {
    -fx-background-color:#2a5172;
}

.adm-agent-button:hover{
    -fx-background-color:#559bc9;
}